html {
	font-size: 1em;
}

body {
	font: 1em Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FDFBF7;
	color: #7F6852;
}
h1 {
	margin: 0;
}
h2 {
	color: #7F654C;
	margin-bottom: 0;
}
h3 {
	margin-bottom: 0;
}
/* classes */
.tac {
	text-align: center;
}
.fz-calc {
	font-size: calc(1.2rem + 3vw); 
} 

/* use as grid/flex container, wrapper */
.wrap {
	margin: 0 auto;
	max-width: 2500px;
}
header {
	background-color: #F4E7D2;
	background-image: url(./assets/head-bg.png);
	background-repeat: repeat-x;
	padding: 2em;
	color: #7F654C;
}
header span {
	color: #BD9970;
}
main {
	padding: 18px 50px 50px 50px;
	background-color: #FDFBF7; 
}
address {
	color: #231F1B;
}
img {
}
a:link,
a:visited {
  color: #333;
}
aside {
	padding-top: 16px;
}
nav ul,
aside ul {
  list-style: none;
  padding: 0;
}
nav a:link,
nav a:visited {
  background-color: rgba(207, 232, 220, 0.2);
  border: 2px solid rgb(79, 185, 227);
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
  font-weight: bold;
}
nav a:hover {
  background-color: rgba(207, 232, 220, 0.7);
}
.related {
  background-color: rgba(79, 185, 227, 0.3);
  border: 1px solid rgb(79, 185, 227);
  padding: 10px;
}
.sidebar {
  background-color: rgba(207, 232, 220, 0.5);
  padding: 10px;
}
article {
  margin-bottom: 1em;
}

/*
 * media queries 
 * * * * * * * * * * * * * * * * * * * */
@media only screen and (max-width: 2000px) {
	img {
		width: 10vw;
	}
}
@media only screen and (max-width: 1200px) {
	img {
		width: 15vw;
	}
}
@media only screen and (max-width: 640px) {
  img {
    width: 15vw;
  }
}
@media only screen and (max-width: 320px) {
  img {
		width: 20vw;
	}
}

/*
 * media queries - flex / grid 
 * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: 45em) {
	.mq-d-f {
		display: flex;
	}	
	.mq-m-5per {
		margin-right: 5%;
	}
	.mq-fx-g3-s-b0 {
		flex: 3;
	}
	.mq-fx-g-s-b0 {
		flex: 1;
	}
	.mq-d-g {
		display: grid;
	}
	.mq-min40-gtc-3fr-1fr {
		grid-template-columns: 3fr 1fr;
	}
	.mq-min40-gap20 {
		column-gap: 20px;
	}
}
/*
@media screen and (min-width: 70em) {
	.mq-min70-d-g {
		display: grid;
	}
	.mq-min70-gtc-3fr-1fr {
		grid-template-columns: 3fr 1fr;
	}
	.mq-min70-gap20 {
		column-gap: 20px;
	}
	article {
		margin-bottom: 0;
	}
	footer {
		margin-top: 2em;
		border-top: 1px solid #ccc;

	}
} 
*/
